@charset "UTF-8";
/*-----------------------------------------------------
  変数宣言
------------------------------------------------------*/
// color
$mainBlackFont: #333;
$mainWhiteFont: #fff;
$bgWhite      : #fff;
$mainColor    : #5FA0D9;
$subColor     : #F2CB05;
$redFont      : red;

// font-family
// 独自ver.
$font-main: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';

//-->ヒラギノver.
// $font-main: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

//-->游ゴシックver.
// $font-main:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;

/*-----------------------------------------------------
  レスポンシブ
------------------------------------------------------*/
/* ブレイクポイント */
$pc-min: 960px; // PC
$tb-max: 959px; // タブレット
$tb-min: 560px; // タブレット
$mb-max: 559px; // スマホ

/* @mediaのフォーマット */
// PCのみ
@mixin pc {
  @media screen and (min-width: $pc-min) {
    @content;
  }
}
// タブレット
@mixin tablet {
  @media screen and (max-width: $tb-max) {
    @content;
  }
}
// スマホ
@mixin mobile {
  @media screen and (max-width: $mb-max) {
    @content;
  }
}

/* @mediaのフォーマット(モバイルファースト) */
// PC
// @mixin pc {
//   @media screen and (min-width: $pc-min) {
//     @content;
//   }
// }
// // タブレット
// @mixin tablet {
//   @media screen and (min-width: $tb-min) {
//     @content;
//   }
// }
// // スマホのみ
// @mixin mobile {
//   @media screen and (max-width: $mb-max) {
//     @content;
//   }
// }

/* font-size */
//$sizeにpx表示を入れて使う
@mixin rem($size) {
  font-size: $size + px; /*IE9以前に対応する*/
  font-size: ($size / 16) + rem;
}

/* layer */
$layer: (
  header : 100,
  mask   : 50,
  default : 1,
);

@mixin z-index($key: default){
  @if map-has-key($layer, $key) {
    z-index: map-get($layer, $key);
  }@else {
    @error "$layer に #{$key} というキーはありません。";
  }
}

/* アスペクト比 */
@mixin aspect-raito($width: 1, $height: 1){
  position: relative;
  &::before{
    content: '';
    display: block;
    padding-top: percentage($height / $width);
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
      // IE対策
      font-family: 'object-fit:cover;';
    }
  }
}

/* フォーム */
@mixin form{
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  &__ttl{
    padding: 10px 20px;
    background-color: $mainColor;
    color: $mainWhiteFont;
    font-weight: bold;
  }
  &__form{
    padding: 10px 0;
    background-color: $bgWhite;
    text-align: center;
    box-sizing: content-box;
    table{
      margin: 0 auto;
    }
    th{
      text-align: right;
      vertical-align: middle;
      line-height: 1;
    }
    td{
      padding-left: 20px;
      padding-bottom: 10px;
      font-weight: bold;
      input{
        padding: 4px 8px;
        border: 1px solid #000;
        border-radius: 10px;
      }
    }
    button{
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: bold;
      letter-spacing: 5px;
      text-indent: 5px;
      background-color: $mainColor;
      color: $mainWhiteFont;
    }
  }
}