@import "data";
/*-----------------------------------------------------
  ベース
------------------------------------------------------*/
html{
  padding:0px;
  margin:0px;
}

body {
  padding:0px;
  margin:0px;
  font-family: $font-main;
  color: $mainBlackFont;
  @include rem(16);
  // line-height: 1.6;
}

h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

ul,li,dl,dt,dd,table,tr,th,td{
  padding: 0;
  margin: 0;
}

ul,li{
  list-style:none;
}

a{
  text-decoration: none;
  color: $mainBlackFont;
  &:hover{
    text-decoration: none;
    color: $mainBlackFont;
  }
}

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

.preload *{
  transition: none!important;
}

.section__ttl {
  @include rem(20);
  text-align: center;
}

.section__inner{
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  // margin: 0 15px;
}

/*-----------------------------------------------------
  ヘッダー
------------------------------------------------------*/
header{
  $color: $mainWhiteFont; // 文字色
  background-color: $mainColor;
  color: $color;
  margin-bottom: 40px;
  a{
    color: $color;
    &:hover{
      color: $color;
    }
  }
}

// インナー
.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    @extend .section__inner;
  }
  &__ttl{
    font-weight: bold;
    margin-bottom: 0;
  }
}

// グローバルナビ
.nav{
  &__list{
    display: inline-block;
  }
  &__link{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
  }
}

// ハンバーガーボタン
.hamburger-btn{
  display: none;
}

// ハンバーガーメニュー
.hamburger{
  display: none;
}

/*-----------------------------------------------------
  メイン
------------------------------------------------------*/
/*- ユーザ認証画面 ------------------------------------*/
/* 認証フォームテンプレ */
@mixin auth-form{
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  &__ttl{
    padding: 10px 20px;
    background-color: $mainColor;
    color: $mainWhiteFont;
    font-weight: bold;
  }
  &__form{
    padding: 10px 0;
    background-color: $bgWhite;
    text-align: center;
    box-sizing: content-box;
    table{
      margin: 0 auto;
    }
    th{
      text-align: right;
      vertical-align: middle;
      line-height: 1;
    }
    td{
      padding-left: 20px;
      padding-bottom: 10px;
      font-weight: bold;
      input{
        padding: 4px 8px;
        border: 1px solid #000;
        border-radius: 10px;
      }
    }
    button{
      @include btn-design;
    }
  }
}

/* 登録フォーム */
.register{
  @include auth-form;
}

/* ログインフォーム */
.login{
  @include auth-form;
}

/* エラー表示 */
.errors{
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  color: $redFont;
  .error{
    list-style: disc inside;
  }
}

/*- マイページ -------------------------------------*/
.mypage{
  h2{
    font-weight: bold;
    margin-bottom: 20px;
  }
}

/* 情報テーブルテンプレ */
@mixin mypage-info{
  h3{
    margin-bottom: 20px;
  }
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px;
  border-collapse: collapse;
  &__table{
    width: 100%;
    background-color: $bgWhite;
    th, td{
      padding: 5px 10px;
      border: 1px solid #000;
    }
    th{
      width: 30%;
    }
    td{
      width: 70%;
    }
  }
  &__btn{
    @include btn-design;
  }
}

/* ユーザー情報 */
.user-info{
  @include mypage-info;
}

/* 差出人情報 */
.from-info{
  @include mypage-info;
}

/* 宛先人情報 */
.destination-info{
  @include mypage-info;
}

/*- 管理画面 -------------------------------------*/
/* 管理フォームテンプレ */
@mixin mng-form{
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  &__ttl{
    padding: 10px 20px;
    background-color: $mainColor;
    color: $mainWhiteFont;
    font-weight: bold;
  }
  &__form{
    padding: 10px 0;
    background-color: $bgWhite;
    text-align: center;
    box-sizing: content-box;
    table{
      margin: 0 auto;
    }
    th{
      text-align: right;
      vertical-align: middle;
      line-height: 1;
    }
    td{
      padding-left: 20px;
      padding-bottom: 10px;
      font-weight: bold;
      input, select{
        width: 100%;
        padding: 4px 8px;
        border: 1px solid #000;
        border-radius: 10px;
      }
    }
    button{
      @include btn-design;
    }
  }
}

/* 管理リストテンプレ */
.from-lists{
  &__ttl{
    margin-bottom: 10px;
  }
  &__table{
    width: 100%;
    margin-bottom: 20px;
    th,td{
      border: 1px solid $bdColor;
      padding: 5px 10px;
    }
    th{
      color: $mainWhiteFont;
      background-color: $mainColor;
    }
    td{
      background-color: $bgWhite;
    }
  }
}

/*- 差出人管理画面 -------------------------------------*/
.from{
  h2{
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.from-create{
  @include mng-form;
}

/*-----------------------------------------------------
  フッター
------------------------------------------------------*/