@charset "UTF-8";

/*-----------------------------------------------------
  変数宣言
------------------------------------------------------*/

/*-----------------------------------------------------
  レスポンシブ
------------------------------------------------------*/

/* ブレイクポイント */

/* @mediaのフォーマット */

/* @mediaのフォーマット(モバイルファースト) */

/* font-size */

/* layer */

/* アスペクト比 */

/*-----------------------------------------------------
  ベース
------------------------------------------------------*/

html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF", YuGothic, "Yu Gothic", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic";
  color: #333;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li,
dl,
dt,
dd,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.preload * {
  transition: none !important;
}

.section__ttl {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  text-align: center;
}

.section__inner,
.header__inner {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/*-----------------------------------------------------
  ヘッダー
------------------------------------------------------*/

header {
  background-color: #5FA0D9;
  color: #fff;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header__ttl {
  font-weight: bold;
  margin-bottom: 0;
}

.nav__list {
  display: inline-block;
}

.nav__link {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}

.hamburger-btn {
  display: none;
}

.hamburger {
  display: none;
}

/*-----------------------------------------------------
  メイン
------------------------------------------------------*/

/*- ユーザ認証画面 ------------------------------------*/

/* 認証フォームテンプレ */

/* 登録フォーム */

.register {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.register__ttl {
  padding: 10px 20px;
  background-color: #5FA0D9;
  color: #fff;
  font-weight: bold;
}

.register__form {
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
  box-sizing: content-box;
}

.register__form table {
  margin: 0 auto;
}

.register__form th {
  text-align: right;
  vertical-align: middle;
  line-height: 1;
}

.register__form td {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.register__form td input {
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 10px;
}

.register__form button {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.register__form button:hover {
  color: #fff;
}

.register__form button:active {
  position: relative;
  top: 5px;
  border: none;
}

/* ログインフォーム */

.login {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.login__ttl {
  padding: 10px 20px;
  background-color: #5FA0D9;
  color: #fff;
  font-weight: bold;
}

.login__form {
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
  box-sizing: content-box;
}

.login__form table {
  margin: 0 auto;
}

.login__form th {
  text-align: right;
  vertical-align: middle;
  line-height: 1;
}

.login__form td {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.login__form td input {
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 10px;
}

.login__form button {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.login__form button:hover {
  color: #fff;
}

.login__form button:active {
  position: relative;
  top: 5px;
  border: none;
}

/* エラー表示 */

.errors {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  color: red;
}

.errors .error {
  list-style: disc inside;
}

/*- マイページ -------------------------------------*/

.mypage h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* 情報テーブルテンプレ */

/* ユーザー情報 */

.user-info {
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

.user-info h3 {
  margin-bottom: 20px;
}

.user-info__table {
  width: 100%;
  background-color: #fff;
}

.user-info__table th,
.user-info__table td {
  padding: 5px 10px;
  border: 1px solid #000;
}

.user-info__table th {
  width: 30%;
}

.user-info__table td {
  width: 70%;
}

.user-info__btn {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.user-info__btn:hover {
  color: #fff;
}

.user-info__btn:active {
  position: relative;
  top: 5px;
  border: none;
}

/* 差出人情報 */

.from-info {
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

.from-info h3 {
  margin-bottom: 20px;
}

.from-info__table {
  width: 100%;
  background-color: #fff;
}

.from-info__table th,
.from-info__table td {
  padding: 5px 10px;
  border: 1px solid #000;
}

.from-info__table th {
  width: 30%;
}

.from-info__table td {
  width: 70%;
}

.from-info__btn {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.from-info__btn:hover {
  color: #fff;
}

.from-info__btn:active {
  position: relative;
  top: 5px;
  border: none;
}

/* 宛先人情報 */

.destination-info {
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

.destination-info h3 {
  margin-bottom: 20px;
}

.destination-info__table {
  width: 100%;
  background-color: #fff;
}

.destination-info__table th,
.destination-info__table td {
  padding: 5px 10px;
  border: 1px solid #000;
}

.destination-info__table th {
  width: 30%;
}

.destination-info__table td {
  width: 70%;
}

.destination-info__btn {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.destination-info__btn:hover {
  color: #fff;
}

.destination-info__btn:active {
  position: relative;
  top: 5px;
  border: none;
}

/*- 管理画面 -------------------------------------*/

/* 管理フォームテンプレ */

/* 管理リストテンプレ */

.from-lists__ttl {
  margin-bottom: 10px;
}

.from-lists__table {
  width: 100%;
  margin-bottom: 20px;
}

.from-lists__table th,
.from-lists__table td {
  border: 1px solid #CCCCCC;
  padding: 5px 10px;
}

.from-lists__table th {
  color: #fff;
  background-color: #5FA0D9;
}

.from-lists__table td {
  background-color: #fff;
}

/*- 差出人管理画面 -------------------------------------*/

.from h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.from-create {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.from-create__ttl {
  padding: 10px 20px;
  background-color: #5FA0D9;
  color: #fff;
  font-weight: bold;
}

.from-create__form {
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
  box-sizing: content-box;
}

.from-create__form table {
  margin: 0 auto;
}

.from-create__form th {
  text-align: right;
  vertical-align: middle;
  line-height: 1;
}

.from-create__form td {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}

.from-create__form td input,
.from-create__form td select {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 10px;
}

.from-create__form button {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 5px solid #286daa;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  text-indent: 5px;
  background-color: #5FA0D9;
  color: #fff;
}

.from-create__form button:hover {
  color: #fff;
}

.from-create__form button:active {
  position: relative;
  top: 5px;
  border: none;
}

/*-----------------------------------------------------
  フッター
------------------------------------------------------*/

