@charset "UTF-8";

/*-----------------------------------------------------
  変数宣言
------------------------------------------------------*/

/*-----------------------------------------------------
  レスポンシブ
------------------------------------------------------*/

/* ブレイクポイント */

/* @mediaのフォーマット(モバイルファースト) */

/* font-size */

/*-----------------------------------------------------
  ベース
------------------------------------------------------*/

html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF", YuGothic, "Yu Gothic", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic";
  color: #333;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li,
dl,
dt,
dd,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.preload * {
  transition: none !important;
}

.section__ttl {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  text-align: center;
}

.section__inner {
  margin: 0 15px;
}

/*-----------------------------------------------------
  ヘッダー
------------------------------------------------------*/

/*-----------------------------------------------------
  メイン
------------------------------------------------------*/

/*-----------------------------------------------------
  フッター
------------------------------------------------------*/

